
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: aqua;
  }
  
  .logo {
    font-size: 20px;
    color:red;
    margin-right:500px;
  }
  
  .extra {
    flex-grow: 1 1 auto;
  }
  .search-container {
    display: flex;
    margin-right: 200px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border-radius:20px;
    width:500px;
   border: 2px solid #ccc;
   font-size: 10px;
   
  }
  
  .search-container button {
    background:none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  
  .sidenav-wrapper {
    position: absolute;
    height: 100vh;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;

  }
  
  .mat-sidenav {
    width: 200px;
    padding: 16px;
    background-color: #f4f4f4;
  }
  
  .mat-sidenav a {
    text-decoration: none;
    color: black;
  }
  
 .mat-sidenav button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    color: #333;
  }
  
  .mat-sidenav button span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500px;
  }
  