<mat-toolbar color="primary">
 <button  mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>
<div class="logo"> Youtube</div>
<div class="extra"></div>

<div class="search-container">
  <input type="text" id="searchInput" placeholder="Search...">
  <button>
    <mat-icon>search</mat-icon>
    <mat-icon>micIcon</mat-icon>
  </button>

</div>

<mat-icon>person</mat-icon>

</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav  #nav opened mode="side">
    <a [routerLink] ="['home']" color="primary">
      <button mat-icon-button>
        <mat-icon>home</mat-icon> 
        <span>Home</span>
      </button >
    </a><br>

    <a [routerLink] ="['contact']">
      <button mat-icon-button>
        <mat-icon>call</mat-icon> 
        <span>Contact</span>
      </button >
    </a><br>


    <a [routerLink] ="['subcriptions']" >
      <button mat-icon-button>
        <mat-icon>subscriptions</mat-icon> 
        <span>Subcriptions</span>
      </button >
    </a><br>

    <a [routerLink] ="['history']" >
      <button mat-icon-button>
        <mat-icon>history</mat-icon> 
        <span>History</span>
      </button >
    </a><br>

   
    <a [routerLink] ="['playlists']" >
      <button mat-icon-button>
        <mat-icon>playlist_play</mat-icon>
           <span>Playlists</span>
      </button >
    </a><br>
    
    <a [routerLink] ="['likedvedios']" >
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon> 
        <span>Likedvedios</span>
      </button >
    </a><br>
 </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

